
<div class="container_article">
    <% @articles.each do |article| %>
        <div class="card box"  style="border-radius: 20px;">
            <img src="/assets/image1.jpeg" alt="Denim Jeans" style="width:100%">
            <h1 style="font-size:13px"><%= article.title %></h1>
            <p><%= article.description %></p>
            <p class="price"><%= article.price %></p>
            <p><button id="myButton"><%= link_to "Article detail", "detail/#{article.id}" %></button></p>
        </div>
    <% end %>
 </div>


