@import "bootstrap-sprockets";
@import "bootstrap";

.mydiv{
  width: 80%;
  margin: 0 auto;
  box-shadow: 5px 0 5px -5px rgba(0,0,0,0.5), -5px 0 5px -5px rgba(0,0,0,0.5), 0 5px 5px -5px rgba(0,0,0,0.5);
  border-top: 8px solid #f00; /* fallback border */
  border-image: linear-gradient(to right, red, green, blue) 3;  padding:20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}