<div class="container mydiv">
  <div class="row">
    <div class="col-md-4">

      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search...">
        </div>
      </form>
    </div>
    
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <select class="form-control">
            <option selected>Choisissez une catégorie</option>
            <option>City 1</option>
            <option>City 2</option>
            <option>City 3</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <select class="form-control">
            <option selected>Tout le Maroc</option>
            <option>Shop center 1</option>
            <option>Shop center 2</option>
            <option>Shop center 3</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row mt-4">
      <!--
        <div class="col-md-3">
          <div class="card">
            <img src="https://via.placeholder.com/150x150" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Item Type 1</h5>
            </div>
          </div>
        </div>
      -->
  

    <div class="col-md-3">
      <div class="card">
        <img src="https://via.placeholder.com/150x150" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Item Type 2</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="https://via.placeholder.com/150x150" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Item Type 3</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="https://via.placeholder.com/150x150" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Item Type 4</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3" >
    <div class="col-md-12 text-center" style="margin-bottom:-57px;">
      <button type="button" class="btn btn-primary">Rechercher ( 1 135 071 )</button>
    </div>
  </div>
</div>


<%= stylesheet_link_tag 'filter' %>
