<div class="card-slider" style="margin-top:70px; margin-bottom:70px;">
  <div class="slider-wrapper">
    <div class="card" style="width: 18rem;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
      <div class="card-body">
        <p class="card-text">Card 1</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
      <div class="card-body">
        <p class="card-text">Card 2</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
      <div class="card-body">
        <p class="card-text">Card 3</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
      <div class="card-body">
        <p class="card-text">Card 4</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
      <div class="card-body">
        <p class="card-text">Card 5</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
      <div class="card-body">
        <p class="card-text">Card 6</p>
      </div>
    </div>
  </div>
  <div class="slider-nav">
    <button class="slider-prev">Prev</button>
    <button class="slider-next">Next</button>
  </div>
</div>


<%= stylesheet_link_tag 'slider' %>
